/* Selectors Style Sheet */
* {
  font-family: monospace;
}
body {
  font-size: 22px;
}

p {
  color: purple;
}

.gray {
  color: gray;
}
#second {
  font-style: italic;
}

h1,
h2 {
  color: blue;
}

.highlight {
  text-decoration: line;
  background-color: blue;
}
p span {
  text-transform: uppercase;
  background-color: gold;
}

/* Specifity Rule */

/* Specificity Priority: Element Selector < Class Selector < Id Selector. */
