@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@1,100&display=swap");

body {
  padding: 2% 5%;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
ol {
  list-style-type: none;
  padding: 0px;
}
ul {
  text-align: center;
  color: blue;
  line-height: 1.6;
  list-style: square inside;
}

ul li:nth-child(odd) {
  color: red;
}

ul li:nth-child(even) {
  color: green;
}
