@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}
.container {
  max-width: 800px;
  min-height: 400px;
  border: 1px solid black;
  margin-inline: auto;
}
.box {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid black;
  color: green;
  font-size: 2rem;
  padding: 0.5rem;
}
