@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@200&family=Roboto:ital,wght@0,300;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  padding: 20px;
}
.container {
  max-width: 800px;
  min-height: 400px;
  border: 1px solid black;
  margin-inline: auto;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
  /* align-content: center; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: center;
  /* align-items: start; */
  /* align-items: end; */
  align-items: center;

  gap: 1rem;
}
.box {
  /* min-width: 100px; */
  /* height: 100px; */
  border: 1px solid black;
  color: green;
  font-size: 2rem;
  padding: 0.5rem;
  flex-basis: 100px;
  flex-grow: 1;
  flex-shrink: 1;
}
.box:nth-child(2) {
  flex-grow: 2;
  flex-shrink: 2;
}
