@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Nunito:ital,wght@1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  background-color: aliceblue;
  background-image: url(./Images/bubbles.png),
    linear-gradient(to left, steelblue, white);
  background-repeat: repeat-y, no-repeat;
  background-position: right;
  background-size: 15%, auto;
}
.container {
  background-color: bisque;
  background-image: url("./Images/map-2176x1451.png");
  background-size: cover;
  background-position: center;
}
.hero {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: hsla(0, 0%, 0%, 0.268);
}
.profile-container {
  width: 35%;
}
.profile-container img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px solid brown;
  border-radius: 50%;
  max-width: 200px;
}
.heading {
  font-size: 500%;
  color: aliceblue;
  text-shadow: 2px 2px 5px black;
}
.heading span {
  white-space: nowrap;
}
.absolute {
  position: absolute;
  left: -100000px;
}
