html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}
main {
  font-size: 2rem;
}
.rem {
  font-size: 2rem;
}
/* rem units are referring to the rrot element or html element and its font-size, generally its font-size is 16px */
