body {
  /* font-size: 16px;  // By default browser size of font-size of elements. */
  /* Custom font-size */
  font-size: 25px;
}

p {
  font-size: 32px;
}
header {
  width: 50%;
}
h1 {
  border: 2px dashed brown;
  width: 50%;
}
