@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@0,100;1,100&display=swap");
body {
  padding: 5%;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}
