@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@1,100&display=swap");
body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: antiquewhite;
  width: 50%;
}
p {
  background-color: lightslategray;
  color: white;
  margin: 20px 15px;
}
.opposite {
  color: brown;
  background-color: whitesmoke;
}
