@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@1,100&display=swap");
body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

main {
  background-color: antiquewhite;
  width: 50%;
}
p {
  background-color: lightslategray;
  color: white;
  margin: 20px 15px;
}
/* .opposite {
  color: brown;
  font-weight: 600;
  background-color: whitesmoke;
  height: 400px;
  width: 200px;
  margin: 70px;
  border: 4px solid yellow;
  padding: 1rem;
} */
.opposite {
  display: inline-block;
  background-color: rgb(153, 228, 109);
  color: whitesmoke;
  font-weight: 600;
  margin: 1rem;
  padding: 1rem;
  width: 150px;
  height: 50px;
}
