@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:ital,wght@1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
}
