/* Typography is the way that text is arranged and presented */
body {
  padding: 5%;
  font-size: 2rem;
  color: purple;
}
/* input,
button {
  font: inherit;
} */

/* p {
  text-decoration: underline; 
  text-decoration: overline;
  text-decoration: line-through;
   text-decoration: none;
} */

/* p {
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;
  text-transform: none;
} */

p {
  text-align: left;
  text-align: right;
  text-align: justify;
}
